
.navbar {
    background-color: #e3ff00;
}

.quem-somos {
    background-color: #fbec5d;
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: 	#b3b300;
}

.servicos{
    background-color: #eed202;
}

.bg-footer{
    background-color: 	#947e00;
}